body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

input, button {
    padding: 8px;
    margin: 5px;
    width: 250px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
